html, body {
    margin:0px;
    height: auto;
  }

  body {
    background-image: url(images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px);
  }

  .title {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  .end {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
  }
  
.wink {
    width: 35px;
    height: auto;
    margin-top: -9px;
}

.gif {
    width: 175px;
    height: auto;
    border-radius: 33px;
    margin: 30px;
}

.quot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 242, 237);
    border-radius: 30px;
    margin: 30px;
}


.tq {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    
}

.main {
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 242, 237);
    border-radius: 30px;
    margin: 30px;
}

.btnsec {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    background: none;
    outline: none;
    font-size: 75px;
    cursor: pointer;
    transition: 100ms;
    margin: 20px;

}

button:hover {
    transform: scale(1.2);
}

.score {
    display: flex;
    justify-content:space-around;
    font-size: x-large;
    font-weight: bold;
    padding: 15px;
}

.gametext {
    display: flex;
    justify-content: center;
}